@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5f7;
  --foreground: #001639;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
